<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<style>
    .clearLoading {
        display: none !important;
    }
</style>
<div class="row">
    <a href="/scripteditor" class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-fw fa-file-text-o fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>&nbsp;</span>
                    <h3 class="font-bold">Test Script</h3>
                </div>
            </div>
        </div>
    </a>
    <a href="/scenarioeditor" class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-fw fa-list-ul fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>&nbsp;</span>
                    <h3 class="font-bold">Test Scenario</h3>
                </div>
            </div>
        </div>
    </a>
    <a href="/suiteeditor" class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-fw fa-th-large fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>&nbsp;</span>
                    <h3 class="font-bold">Test Suite</h3>
                </div>
            </div>
        </div>
    </a>
</div>