<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<style>
    .clearLoading {
        display: none !important;
    }
</style>
<!--
<% if (user) { %>
    <div class="row">
        <div class="col-lg-offset-8 col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Add features here</h5>
                </div>
                <div class="ibox-content">
                    <form data-bind="featureForm">
                        <div class="input-group">
                            <input type="text" data-bind="value: $root.newFeature" placeholder="new feature ..." class="form-control">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<% } %>
<div class="row">
    <div class="col-lg-offset-8 col-lg-4">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Leap development updates</h5>
                <div class="ibox-tools">
                    <span class="label label-warning-light pull-right"></span>
                </div>
            </div>
            <div class="ibox-content">
                <div class="spiner-example" data-bind="css: { clearLoading: !$root.featuresLoading() }">
                    <div class="sk-spinner sk-spinner-double-bounce">
                        <div class="sk-double-bounce1"></div>
                        <div class="sk-double-bounce2"></div>
                    </div>
                </div>
                <div>
                    <div class="feed-activity-list" data-bind="foreach: $root.features">
                        <div class="feed-element">
                            <div class="media-body">
                                <strong data-bind="html: $data.feature"></strong><br>
                                <small class="text-muted" data-bind="html: $data.formattedDate"></small>
                            </div>
                        </div>
                    </div>
                    <button style="display: none;" class="btn btn-primary btn-block m-t"><i class="fa fa-arrow-down"></i> Show More</button>
                </div>
            </div>
        </div>
    </div>
</div><-->