<script src="/js/plugins/moment/moment.min.js" type="text/javascript"></script>
<style>
    .clearLoading {
        display: none !important;
    }
</style>
<div class="row">
    <a href="/execution/runtest/runsetup" class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-cogs fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>&nbsp;</span>
                    <h3 class="font-bold">Run setup</h3>
                </div>
            </div>
        </div>
    </a>
    <a href="/execution/runtest/runondemand" class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-play-circle-o fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>&nbsp;</span>
                    <h3 class="font-bold">Run test on demand</h3>
                </div>
            </div>
        </div>
    </a>
    <a href="/execution/runtest/schedule" class="col-lg-3">
        <div class="widget style1 navy-bg">
            <div class="row">
                <div class="col-xs-4">
                    <i class="fa fa-calendar-o fa-5x"></i>
                </div>
                <div class="col-xs-8 text-right">
                    <span>&nbsp;</span>
                    <h3 class="font-bold">Schedule test run</h3>
                </div>
            </div>
        </div>
    </a>
</div>